.title-bar {
	width: calc(100% - 10px);
	position: fixed;
	top: 0px;
	z-index: 1000;
}

.window-body {
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* =====================================User window===================================== */
#profileDisplay {
    width: 65%;
    height:90%;
    display: flex;
	position: fixed;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
    top: 50%;
    left: 34%;
    transform: translate(-50%, -50%);
}

/* --------------------------------Header-------------------------------- */
.window-header {
    display: flex;
    justify-content: center;
	align-items: center;
    gap : 50px;
    padding: 5 px;
}

#userIcon {
	border: 5px solid #ffffff;
	border-radius: 3%;
	height: 200px;
}

#userID {
	font-size: 50px;
}

.IDHash {
	color:rgb(114, 114, 114);
}



/* --------------------------------Tables-------------------------------- */
.flex-tables {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
	align-items: space-evenly;
    gap: 20px;
}

/* wrapper around the table to make the table scrolable in small window */
.table-wrapper {
    overflow-x: auto;
    max-width: 100%;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	background-color: #ffffff;
    width: 100%;
}

td, th {
	border: 1px solid #000000;
	padding: 8px;
}

#history{
    min-width: 600px;
}

#statistics{
    min-width: 400px;
}

.stat {
	text-align: end;
	min-width: 100px;
}


/* ====================================Friends window==================================== */
#friendDisplay {
    width: 31%; 
    height: 90%;
	position: fixed;
    top: 50%;
    left: 83%;
    transform: translate(-50%, -50%);
}

#search_bar {
	position: absolute;
	top:5%;
	left: 2.5%;
	width: 95%;
}

/* --------------------------------Friends list-------------------------------- */
.friend-list-container {
	position: fixed;
	top: 10%;
	left: 5%;
	width: 90%;
	background-color: #ffffff;
	overflow: hidden;
	border: 1px solid black;
}

.friend-item {
	display: flex;
	padding: 8px;
	align-items: center;
	justify-content: space-between;
}

.friend-item img {
    width: 50px;
    height: 50px;
}

.friend-list {
	max-height: 1000px;
	overflow-y: auto;
	padding: 10px;
}

.friend-actions {
	display: flex;
	gap: 10px;
}

@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .main-content {
        flex-direction: column;
    }

    #userID {
        font-size: 1.5rem;
    }

    .friend-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .friend-actions {
        margin-top: 10px;
    }
}