body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#login-signup,
#main-menu {
    display: none;
    text-align: center;
    margin-top: 50px;
}

#login-signup.active,
#main-menu.active {
    display: block;
}

#profile-info,
#matches-info,
#settings-info,
#chat-interface,
#duel-elements,
#threejs-container {
    display: none;
    text-align: center;
    margin-top: 20px;
}

#profile-info.active,
#matches-info.active,
#settings-info.active,
#chat-interface.active,
#duel-elements.active,
#threejs-container.active {
    display: block;
}

#profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
}

.match {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.chat-messages {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}

.chat-input {
    display: flex;
    margin-top: 10px;
}

.chat-input input {
    flex-grow: 1;
    padding: 5px;
}

.chat-input button {
    margin-left: 10px;
}

canvas {
    display: block;
}

#scoreboard {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
}

#start-game-button {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
}

.user-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.user-actions {
    display: flex;
    gap: 10px;
}

#logged-in-user {
    margin-top: 20px;
    font-weight: bold;
}

#search-user-form {
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
}

#search-results {
    margin-top: 0;
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    right: 0;
}

#search-results ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#search-results li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

#friend-requests {
    display: flex;
    align-items: center;
    justify-content: space-between;
}